@if $use-scrollable == true {
/*------------------------------------*\
    $RESPONSIVE
    @author: mOveo
\*------------------------------------*/
.scrollable--block{

    height:250px;
    overflow:auto;
    border:#E6E6E6 1px solid;
    padding:1.5rem;
    margin-bottom:2rem;
}

}