/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
    color:$text-color;
}

body{
    min-width:$min-width;
}

@if $responsive == true {
    @include media-query(palm){
        body{
            min-width:0;
        }
    }
}
